*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.tela1, .tela2, .tela3, .tela4, .tela5, .tela6, .tela7, .tela8, .tela9, .tela10, .telaFinal{
    display: none;
}
.pergunta, .msgFinal{
    color: white;
    margin: 40px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
#btnComecar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}

.containerBotoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: 10px;
    padding: 10px;
    gap: 10px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 18px;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: #2980b9;
    transform: scale(1.05);
}
