*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.tela1, .tela2, .tela3, .tela4, .tela5, .tela6, .tela7, .tela8, .tela9, .tela10, .telaFinal{
    display: none;
}
.pergunta, .msgFinal{
    color: white;
    margin: 40px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
#btnComecar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}

.containerBotoes {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas */
    gap: 15px;                      /* espaço entre os botões */
    max-width: 500px;               /* largura máxima da grade */
    margin: 20px auto;              /* centraliza na tela */
}

button {
    height: 60px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

button:hover {
    background: #2980b9;
    color: white;
    transform: scale(1.05);
}
